# Django
SECRET_KEY=your_secret_key
DEBUG=True
DATABASE_URL=postgres://user:pass@localhost:5432/dbname

# HuggingFace LLM API
HF_API_TOKEN=your_token_here

# Qdrant Cloud
QDRANT_API_KEY=your_qdrant_key
QDRANT_HOST=https://your-instance.qdrant.tech

# Frontend
NEXT_PUBLIC_GRAPHQL_API=http://localhost:8000/graphql/